<div class="profile-card">
   <img src="/images/profile.png.png" alt="Foto do usuario" class="profile-photo">
   <h1>Olá, {{user.name}}! Bem vindo ao seu perfil.</h1>
   <p>{{user.email}}</p>
   <a href="/auth/logout" class="button">Sair</a>
</div>
   